[Desktop Entry]
Name=NT Connect
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=nt-connect
Exec=nt-connect %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=nt-connect
